*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background-color: #070032;
}

body {
  font-family: "Poppins", sans-serif;
  min-width: 100vw;
}

h1,
h2 {
  font-family: "Intro Demo", sans-serif;
}

body > main,
body > section {
  min-height: 100vh;
  scroll-snap-align: start;
}

ul {
  list-style: none;
}
