*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #070032;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Intro Demo", sans-serif;
}

body > main,
body > section {
  min-height: 100vh;
}

ul {
  list-style: none;
}
