---
import TechList from "../components/TechList.astro";
import Layout from "../layouts/Layout.astro";
import ExperienceList from "../components/ExperienceList.astro";
import Testimonials from "../components/Testimonials.astro";
import Profile from "../components/Profile.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
import Main from "../components/Main.astro";
---

<Layout>
  <Main>
    <Section title="">
      <Profile />
    </Section>
    <Section title="">
      <TechList />
    </Section>
    <Section title="Experience" class="section">
      <ExperienceList />
    </Section>
    <Section title="Testimonials" class="section">
      <Testimonials />
    </Section>
  </Main>
  <Footer />
</Layout>
