---
import "../styles/global.css";
import HamburgerButton from "../components/HamburgerButton.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="fonts.css" />

    <title>Full Stack Developer Oniel Santos</title>
  </head>
  <body>
    <HamburgerButton />
    <Hero />
    <AboutMe />
  </body>
</html>
