<section>
  <header>
    <h2>How do <span>I Help</span>?</h2>
  </header>
  <article>
    <div>
      <p>
        Full-Stack developer with JavaScript & NodeJs. Experienced developing
        software in the Healthcare industry. Love teaching new talents and
        helping them grow professionally. Wish to lead teams with impact around
        the world. Looking to work in teams where I help others grow with me.
      </p>
    </div>
    <div>
      <ul>
        <li>
          <span>30+</span>
          <span>Projects Completed</span>
        </li>
        <li>
          <span>15+</span>
          <span>Coachees</span>
        </li>
        <li>
          <span>3+</span>
          <span>Years of Experience</span>
        </li>
      </ul>
    </div>
  </article>
  <footer>
    <h3>About me</h3>
    <ul>
      <li>
        <h4>Not everything is code</h4>
        <p>
          Communication, leadership, ownership, team work and honesty is also
          important.
        </p>
      </li>
      <li>
        <h4>Self-taught</h4>
        <p>
          Learnt with Youtube, Platzi, Udemy, Personal projects, and other
          sources every day since 2019.
        </p>
      </li>
      <li>
        <h4>Let's have fun</h4>
        <p>Love having fun with my partners, I'm a Icebreaker.</p>
      </li>
    </ul>
  </footer>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
    padding: 32px 8px 0 8px;
  }

  header {
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 60px;
  }

  h2 {
    width: 7rem;
    font-size: 36px;
  }

  h2 span {
    color: #f27121;
  }

  article {
    display: flex;
    padding: 0 8px 0 45px;
  }

  div:has(> p) {
    width: 60%;
    font-size: 15px;
    font-weight: 600;
  }

  div:has(> ul) {
    margin-left: auto;
    margin-right: 24px;
    width: min-content;
  }

  div:has(> ul) ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div:has(> ul) ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  div:has(> ul) ul li span:nth-child(1) {
    font-size: 40px;
    font-weight: 900;
    color: #f27121;
    font-family: "Intro Demo", sans-serif;
  }

  div:has(> ul) ul li span:nth-child(2) {
    font-size: 11px;
    font-weight: 600;
    text-align: center;
  }

  footer {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 45px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    list-style: disc;
  }

  footer li::marker {
    color: #f27121;
  }

  h3 {
    font-family: "Intro Demo", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #f27121;
    margin-bottom: 16px;
  }

  h4 {
    font-family: "Intro Demo", sans-serif;
    font-weight: 900;
    font-size: 16px;
  }

  footer p {
    font-size: 11px;
    font-weight: 500;
  }

  @media screen and (max-width: 380px) {
    section {
      padding: 8px;
    }

    header {
      margin: 0;
    }

    h2 {
      width: 10rem;
    }

    article {
      flex-direction: column;
      padding: 0;
      margin-top: 16px;
      align-items: center;
      justify-content: space-evenly;
      flex-grow: 1;
    }

    div:has(> p) {
      width: unset;
      font-size: 14px;
    }

    div:has(> ul) {
      margin: 0;
      width: unset;
      margin-top: 8px;
    }

    div:has(> ul) ul {
      display: flex;
      flex-direction: row;
      justify-content: space-;
      text-align: center;
    }

    div:has(> ul) ul li span:nth-child(1) {
      font-size: 32px;
    }

    div:has(> ul) ul li {
      width: 33%;
      justify-content: flex-start;
    }

    footer {
      margin: 0;
      margin-bottom: 16px;
    }

    footer ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      list-style: disc;
    }

    h3 {
      font-family: "Intro Demo", sans-serif;
      font-weight: 900;
      font-size: 16px;
    }
  }
</style>
