---
import ExperienceCard from "./ExperienceCard.astro";
import ExperienceDetails from "./ExperienceDetails.astro";
const experience = {
  position: "Developer Lead",
  project: "Cognizant",
  achievements:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
  responsabilities:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
  skills:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
};
const experiences = [experience, experience, experience, experience];
---

<section>
  <header>
    <h2>
      <span>Professional</span>
      <span>Background</span>
    </h2>
  </header>
  <ul id="experiences-list">
    {
      experiences.map((exp) => (
        <li class="experience">
          <ExperienceCard {...exp} />
          <ExperienceDetails {...exp} />
        </li>
      ))
    }
  </ul>
</section>

<script>
  const $experiencesList = document.querySelector("#experiences-list");
  $experiencesList?.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    const $experience = target.closest("article");
    if ($experience) {
      const $active = $experiencesList.querySelector(".show");
      if ($active) $active.classList.remove("show");
      const $details = $experience.parentElement?.querySelector("aside");
      if (!$details) return;
      $details.classList.add("show");
      document.body.style.overflow = "hidden";
    }
    const $closeButton = target.closest("aside.show .button");
    if ($closeButton) {
      const $details = $closeButton.closest("aside");
      if (!$details) return;
      $details.classList.remove("show");
      document.body.style.overflow = "unset";
    }
  });
</script>

<style>
  section {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 69px;
    color: white;
    gap: 100px;
    position: relative;
  }

  h2 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 36px;
    font-weight: 900;
    line-height: 94.4%;
  }

  h2 span:nth-child(1) {
    color: #f27121;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  li {
    width: 100%;
    height: 85px;
    overflow: hidden;
  }

  @media screen and (max-width: 380px) {
    section {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 25px;
      gap: 50px;
    }

    h2 {
      font-size: 32px;
    }

    ul {
      gap: 25px;
    }
  }
</style>
