---
const { position, project, achievements, slug } = Astro.props;
---

<article>
  <header>
    <p class="experience_title">
      {position} @ {project}
    </p>
  </header>
  <a href={`/experience/${slug}`}>
    <p class="experience_achievements">{achievements}</p>
    <span>See more &gt;&gt;&gt;</span>
  </a>
</article>

<style>
  article {
    position: relative;
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 25px;
  }

  article::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    top: 100%;
    right: -30px;
  }

  a::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #f27121;
    top: 8px;
    left: 8px;
  }

  article::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 25px;
    right: -28px;
    background-color: #f27121;
  }

  article > * {
    padding-left: 45px;
  }

  header {
    background-color: white;
    margin-bottom: 2px;
  }

  .experience_title {
    color: #f27121;
    font-size: 16px;
    font-weight: 700;
  }

  a {
    position: relative;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }

  .experience_achievements {
    color: #717171;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
  }

  span {
    color: #f27121;
  }

  @media screen and (max-width: 380px) {
    article::after,
    article::before,
    a::before {
      display: none;
    }

    article {
      width: 100%;
    }

    article > * {
      padding-left: 8px;
    }
  }
</style>
