---
import ExperienceCard from "./ExperienceCard.astro";
import ExperienceDetails from "./ExperienceDetails.astro";
import { experiences } from "../data/experiences";
---

<section class="section">
  <header class="header">
    <h2>
      <span class="orange">Professional</span>
      <span>Background</span>
    </h2>
  </header>
  <ul id="experiences-list">
    {
      experiences.map((exp) => (
        <li class="experience">
          <ExperienceCard {...exp} />
          <ExperienceDetails {...exp} />
        </li>
      ))
    }
  </ul>
</section>

<script>
  const $experiencesList = document.querySelector("#experiences-list");
  $experiencesList?.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    const $experience = target.closest("article");
    if ($experience) {
      const $active = $experiencesList.querySelector(".show");
      if ($active) $active.classList.remove("show");
      const $details = $experience.parentElement?.querySelector("aside");
      if (!$details) return;
      $details.classList.add("show");
      document.body.style.overflow = "hidden";
    }
    const $closeButton = target.closest("aside.show .button");
    if ($closeButton) {
      const $details = $closeButton.closest("aside");
      if (!$details) return;
      $details.classList.remove("show");
      document.body.style.overflow = "unset";
    }
  });
</script>

<style>
  section {
    gap: 100px;
    position: relative;
  }

  h2 {
    display: flex;
    flex-direction: column;
  }

  ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  li {
    width: 100%;
    height: 85px;
    overflow: hidden;
    text-align: left;
  }

  @media screen and (max-width: 380px) {
    section {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 25px;
      gap: 50px;
    }

    h2 {
      font-size: 32px;
    }

    ul {
      gap: 25px;
    }
  }
</style>
