---
import ExperienceItem from "./ExperienceItem.astro";
---

<ul class="experience-list">
  <ExperienceItem
    title="Senior Software Developer"
    time="since January 2023 - Present"
    company="Vertrical"
  >
    Developed features such as <span>orders</span>, <span>payments</span>,
    quizzes & recommendations. Solved high priority bugs. Followed security
    standards such as <span>HIPAA</span> and <span>GDPR</span>. Accelerated
    development experience creating automatization tools.
  </ExperienceItem>

  <ExperienceItem
    title="Technical Coach"
    time="since September 2021 - Present"
    company="Cincinnatus Institute of Craftsmanship"
    chip="Volunteer"
  >
    <span>Guided +10 students</span> (and adding) in their learning process to
    become software developers, through constant follow-up, <span
      >customized learning paths</span
    >, evaluations, mentoring, and <span>project creation</span>.
  </ExperienceItem>

  <ExperienceItem
    title="Mid-Level Full-stack Developer"
    time="since March 2022 - December 2022"
    company="Intellisys D. Corp"
  >
    Led a team of juniors and interns on an internal project to manage talents
    and skills. Encouraged good practices such as <span>code review</span>, pair
    programming, mentoring, and <span>clean code</span>.
  </ExperienceItem>

  <ExperienceItem
    title="Junior Full-stack Developer"
    time="since July 2021 - February 2022"
    company="Intellisys D. Corp"
  >
    Accelerated the COVID-19 vaccination registration process to <span
      >+10M people</span
    > (Dominican Republic citizens) by developing and <span
      >leading a team of +5 developers</span
    > .
  </ExperienceItem>

  <ExperienceItem
    title="Programming Internship"
    time="since April 2021 - June 2021"
    company="Intellisys D. Corp"
  >
    Developed UI components using <span>React</span> and Material UI.
  </ExperienceItem>
</ul>

<style is:global>
  .experience-list {
    position: relative;
    /* border-inline-start-width: 1px;
    border-inline-start-style: solid;
    border-color: var(--secondary); */
    list-style: none;
  }

  .experience-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 0%;
    background-color: var(--primary);
    animation-name: line;
    animation-timeline: view();
    animation-fill-mode: both;
    animation-range: 25% 100%;
  }

  @keyframes line {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  }
  .experience-body {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--secondary);
    font-weight: 300;
    text-wrap: balance;
  }

  .experience-body span {
    color: var(--primary);
    font-weight: 600;
  }
</style>
