<footer class="footer">
  <p>
    Made with{" "}
    <a href="https://astro.build/" target="_blank"> Astro</a>
     Source code on <a
      href="https://github.com/Oniel1721/onielsantos"
      target="_blank">GitHub</a
    >
  </p>
  <p>Copyright © {new Date().getFullYear()} Oniel Santos</p>
</footer>

<style is:global>
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-weight: 500;
  }
</style>
