<div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="46"
    height="46"
    viewBox="0 0 46 46"
    fill="none"
  >
    <path
      d="M0 6.90002H46V11.5H0V6.90002ZM0 20.7H46V25.3H0V20.7ZM0 34.5H46V39.1H0V34.5Z"
      fill="white"></path>
  </svg>
</div>

<style>
  div {
    cursor: pointer;
    padding: 0;
    position: fixed;
    top: 14px;
    left: 23px;
  }
</style>
