<main>
  <div>
    <h1>
      Full Stack <br />
      Developer
    </h1>
    <strong>Oniel Santos</strong>
  </div>
</main>

<style>
  main {
    background: linear-gradient(
      180deg,
      #f27121 0%,
      #e94057 20.83%,
      #8a2387 42.71%,
      #070032 72.4%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }

  main div {
    display: flex;
    flex-direction: column;
    width: 280px;
    text-align: left;
    gap: 5px;
  }

  h1 {
    font-size: 44px;
    font-weight: 900;
    color: white;
    line-height: 94.4%;
    width: 100%;
  }

  main div strong {
    color: #070032;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    width: max-content;
    background-color: white;
    margin-left: 4px;
    padding: 0 4px;
  }
</style>
