---
import ScrollIndicator from "../icons/ScrollIndicator.astro";
---

<main>
  <header>
    <h1>
      Full Stack <br />
       Developer
    </h1>
    <strong>Oniel Santos</strong>
    <nav>
      <a href="https://www.linkedin.com/in/onielsantos/" target="_blank">
        <img src="icons/linkedin-icon.svg" alt="LinkedIn Icon" />
      </a>
      <a href="https://github.com/Oniel1721" target="_blank">
        <img src="icons/github-icon.svg" alt="Github Icon" />
      </a>
    </nav>
  </header>

  <ScrollIndicator />
</main>

<style>
  main {
    background: linear-gradient(
      180deg,
      #f27121 0%,
      #e94057 20.83%,
      #8a2387 42.71%,
      #070032 72.4%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 5px;
  }

  @media screen and (min-width: 380px) {
    header {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      border: rgba(255, 255, 255, 1) 2px solid;
      aspect-ratio: 1;
      padding: 45px;
    }
  }

  h1 {
    font-size: 44px;
    font-weight: 900;
    color: white;
    line-height: 94.4%;
    width: 100%;
  }

  header > *:not(h1) {
    margin-left: 4px;
  }

  strong {
    color: #070032;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    width: max-content;
    background-color: white;
    padding: 0 4px;
  }

  nav {
    display: flex;
    gap: 10px;
  }
</style>
