---
import Nav from "./Nav.astro";
---

<div class="profile-container">
  <img
    class="profile unloaded"
    src="/images/profile_small.webp"
    alt="Oniel Santos"
    height="300"
    width="300"
  />
  <script>
    const profile = document.querySelector(".profile") as HTMLImageElement;
    fetch("/images/profile.webp")
      .then((res) => res.blob())
      .then((blob) => {
        const url = URL.createObjectURL(blob);
        profile.src = url;
        profile.classList.remove("unloaded");
      });
  </script>
  <div class="profile-caption">
    <h1 class="profile-name">Oniel Santos</h1>
    <h2 class="profile-position">Full-Stack Developer</h2>
    <p class="profile-bio">
      <span>+4</span> years of experience self-taught. Worked in the
      <span>Healthcare industry</span> and <span>E-commerce</span>. Love
      teaching and sharing knowledge.
    </p>

    <Nav />
  </div>
</div>

<style is:global>
  .profile-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .profile {
    position: relative;
    width: clamp(200px, 40%, 360px);
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--primary);
    transition: filter 0.5s ease-in-out;
  }

  .profile.unloaded {
    filter: blur(5px);
  }

  .profile-caption {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
  }

  .profile-name {
    font-size: 3em;
    color: var(--primary);
  }

  .profile-position {
    font-size: 2em;
  }

  .profile-bio {
    color: var(--secondary);
    max-width: 21rem;
    text-wrap: balance;
    font-weight: 300;
  }

  .profile-bio span {
    color: var(--primary);
    font-weight: 600;
  }
</style>
