---
const { title } = Astro.props as { title: string };
---

<div class="skill" title={title}>
  <slot />
  {title}
</div>

<style>
  .skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: var(--color);
  }
</style>
