---
const { body, name, position } = Astro.props as {
  body: string;
  name: string;
  position: string;
};
---

<article class="testimonial">
  <q class="testimonial-body">{body}</q>
  <footer class="testimonial-footer">
    <cite class="testimonial-cite">{name} - <span>{position}</span></cite>
  </footer>
</article>

<style is:global>
  .testimonial {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background-color: #00000050;
    padding: 1rem;
    gap: 0.5rem;
  }

  .testimonial::before {
    content: "";
    position: absolute;
    width: 4px;
    height: calc(100% + 1rem);
    inset-block-start: 0;
    inset-inline-start: 0;
    animation-range: 4rem 16.15rem;
  }

  .testimonial::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    inset-block-start: calc(100% + 1rem);
    inset-inline-start: 0;
    z-index: 1;
    animation-range: 4rem 4.25rem;
  }

  .testimonial::before,
  .testimonial::after {
    animation-name: scaleY;
    animation-timeline: view();
    transform-origin: top;
    transform: scaleY(0);
    animation-fill-mode: both;
    animation-timing-function: linear;
    background-color: var(--primary);
  }

  @keyframes scaleY {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .testimonial:nth-child(even)::before {
    width: 4px;
    height: calc(100% + 1rem);
    inset-block-start: 0;
    inset-inline-start: calc(100% - 4px);
  }

  .testimonial-body {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 300;
    text-wrap: balance;
    height: 8.5rem;
    overflow-y: auto;
  }
  .testimonial-footer {
    display: flex;
    flex-direction: column;
  }

  .testimonial-cite {
    color: var(--primary);
    font-weight: 400;
    font-size: 0.9em;
  }
  .testimonial-cite span {
    opacity: 0.75;
  }
</style>
