---
import Testimonial from "./Testimonial.astro";
---

<div class="testimonial-container">
  <Testimonial
    body="Oniel is a brilliant software developer who really understands how to build both people and products. His biggest strength is his ability to understand and analyze requirements and how he can connect with the rest of the team members. Even on the most difficult task, Oniel proved to be able to truly understand them and prioritize them correctly."
    name="Stacey Díaz"
    position="Software Project Manager"
  />
  <Testimonial
    body="As a student at Cincinnatus, Oniel made a lasting impression due to his technical abilities, his enthusiasm for learning and being better, and his earnest desire to help other members of our community be better as well. When he wasn't making strides towards completing the program (to which he was also very committed), he would routinely be found helping others along. Even after graduating, we have continued to rely on him for support, and I have always appreciated his eagerness to continue mentoring those students who have come after him."
    name="María Cruz Minaya"
    position="Community Team Member"
  />
  <Testimonial
    body="Oniel has extensive experience in both web and AR/VR technologies that make him a very competent developer. In general, he is a great software engineer with a great deal of knowledge in front-end and back-end development. He is constantly learning and does not stop when faced with a problem, he is conscious and persevering. It's always fun and very productive to work with."
    name="Leobardo Núñez"
    position="Software Engineer"
  />
</div>

<style is:global>
  .testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
