---
const { body, name, position } = Astro.props as {
  body: string;
  name: string;
  position: string;
};
---

<article class="testimonial">
  <q class="testimonial-body">{body}</q>
  <footer class="testimonial-footer">
    <cite class="testimonial-cite">{name} - <span>{position}</span></cite>
  </footer>
</article>
