---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Oniel Santos - Full-Stack developer 3+ of experience with JavaScript & NodeJs. Experienced developing software in the Healthcare industry."
    />
    <meta
      name="keywords"
      content="Full-stack developer,JavaScript,Node.js,Healthcare,Software development,Teaching,Leadership,Teamwork,Self-taught,Web app,API,Data,Intellisys,Medlify,Truepill,Cincinnatus,React,Nest.js,TypeScript,Next.js,Express.js,PostgreSQL,Docker,Scrum,Google Cloud Platform,Git,GitHub,GitHub Actions,Material UI,GraphQL,Jest,Testing Library,HIPAA,GDPR,Micro Frontends,Micro Services,Kafka,Amazon Web Services,Terraform,Git,GitHub,Styled Components,Jest,Testing Library,Jira,Confluence,HTML,CSS,Python,AWS,Trello"
    />
    <meta name="author" content="OnielSantos" />
    <meta name="og:title" content="Oniel Santos" />
    <meta
      name="og:description"
      content="Full-Stack developer 3+ of experience with JavaScript & NodeJs."
    />
    <meta name="og:image" content="/images/og.png" />

    <link rel="stylesheet" href="/fonts.css" />
    <title>Oniel Santos - Full Stack Developer</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
